## Proyecto final de Analisis de Datos nivel Explorador

In [80]:
#Importamos las librearías necesarias

import pandas as pd
import matplotlib.pyplot as plt

In [81]:
# definir las variables de rutas de los documentos.

path_1_15_junio = 'datos-llamadas/Reporte_1_15_junio.csv'
path_16_30_junio = 'datos-llamadas/Reporte_16_30_junio.csv'
path_1_15_julio = 'datos-llamadas/Reporte_1_15_julio.csv'
path_16_31_julio = 'datos-llamadas/Reporte_16_31_julio.csv'
path_1_15_agosto = 'datos-llamadas/Reporte_1_15_agosto.csv'
path_16_31_agosto = 'datos-llamadas/Reporte_16_31_agosto.csv'

## Proceso para concatenar todos los archivos en un solo DataFrame

In [82]:
# Para esto, primero se leen los archivos csv y se concatenan en un solo dataframe.

df_junio_1 = pd.read_csv(path_1_15_junio, encoding='ISO-8859-1')
df_junio_2 = pd.read_csv(path_16_30_junio, encoding='ISO-8859-1')
df_julio_1 = pd.read_csv(path_1_15_julio, encoding='ISO-8859-1')
df_julio_2 = pd.read_csv(path_16_31_julio, encoding='ISO-8859-1')
df_agosto_1 = pd.read_csv(path_1_15_agosto, encoding='ISO-8859-1')
df_agosto_2 = pd.read_csv(path_16_31_agosto, encoding='ISO-8859-1')

df_completo = pd.concat([df_junio_1, df_junio_2, df_julio_1, df_julio_2, df_agosto_1, df_agosto_2])

# limpiamos memoria
del df_julio_1, df_julio_2, df_agosto_1, df_agosto_2

df_completo.head(5)

/var/folders/yv/992pmwyx2338xp5vbvly54740000gn/T/ipykernel_5992/4031964729.py:7: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df_agosto_1 = pd.read_csv(path_1_15_agosto, encoding='ISO-8859-1')

,Fecha,Fuente,DID,Grupo,Destino,Canal origen,PIN,Canal destino,Estado,Duración,Minutos,Aplicación,ID,Unnamed: 13
0,2025-06-14 14:44:22,2598,3.017226e+09,NaN,3017225716,SIP/2598-00006bca,NaN,SIP/Tk_SIP_ITBX-00006bcb,NO CONTESTADO,0s,0,NaN,---,NaN
1,2025-06-14 14:43:52,2598,3.243452e+09,NaN,3243451911,SIP/2598-00006bc8,NaN,SIP/Tk_SIP_ITBX-00006bc9,CONTESTADO,2s,1,NaN,1749930232.30875,NaN
2,2025-06-14 13:49:23,2125,3.027014e+09,NaN,3027014405,SIP/2125-00006bbf,NaN,SIP/Tk_SIP_ITBX-00006bc0,CONTESTADO,334s (5m 34s),6,NaN,1749926963.30866,NaN
3,2025-06-14 13:26:45,2653,6.044440e+09,NaN,6044440007,SIP/2653-00006bbb,NaN,SIP/Tk_SIP_ITBX-00006bbc,CONTESTADO,3s,1,NaN,1749925605.30862,NaN
4,2025-06-14 13:26:22,2653,6.045620e+09,NaN,6045620163,SIP/2653-00006bb9,NaN,SIP/Tk_SIP_ITBX-00006bba,NO CONTESTADO,0s,0,NaN,---,NaN

In [83]:
# Revisamos la información del DataFrame completo
df_completo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 578959 entries, 0 to 87565
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Fecha          578959 non-null  object
 1   Fuente         578959 non-null  object
 2   DID            578358 non-null  float64
 3   Grupo          0 non-null       float64
 4   Destino        578959 non-null  int64
 5   Canal origen   578959 non-null  object
 6   PIN            0 non-null       float64
 7   Canal destino  578959 non-null  object
 8   Estado         578959 non-null  object
 9   Duración       578959 non-null  object
 10  Minutos        578959 non-null  int64
 11  Aplicación     0 non-null       float64
 12  ID             578959 non-null  object
 13  Unnamed: 13    0 non-null       float64
dtypes: float64(5), int64(2), object(7)
memory usage: 66.3+ MB

In [84]:
df_completo.isnull().sum()

Fecha                 0
Fuente                0
DID                 601
Grupo            578959
Destino               0
Canal origen          0
PIN              578959
Canal destino         0
Estado                0
Duración              0
Minutos               0
Aplicación       578959
ID                    0
Unnamed: 13      578959
dtype: int64

In [85]:
# Guardamos el DataFrame completo en un archivo CSV
df_completo.to_csv('datos-llamadas/Reporte_completo.csv', index=False)

In [86]:
# Cuantos registros duplicados hay?
print(f"Registros duplicados: {df_completo.duplicated().sum()}")


#Eliminar duplicados
df_completo = df_completo.drop_duplicates()
df_completo.info()

Registros duplicados: 0
<class 'pandas.core.frame.DataFrame'>
Index: 578959 entries, 0 to 87565
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Fecha          578959 non-null  object
 1   Fuente         578959 non-null  object
 2   DID            578358 non-null  float64
 3   Grupo          0 non-null       float64
 4   Destino        578959 non-null  int64
 5   Canal origen   578959 non-null  object
 6   PIN            0 non-null       float64
 7   Canal destino  578959 non-null  object
 8   Estado         578959 non-null  object
 9   Duración       578959 non-null  object
 10  Minutos        578959 non-null  int64
 11  Aplicación     0 non-null       float64
 12  ID             578959 non-null  object
 13  Unnamed: 13    0 non-null       float64
dtypes: float64(5), int64(2), object(7)
memory usage: 66.3+ MB

In [87]:
# Eliminar la columna DID, Grupo, Canal Origen, PIN, Canal Destino, Aplicación, ID y Unnamed:13
df_completo = df_completo.drop(columns=['DID', 'Grupo', 'Canal origen', 'PIN', 'Canal destino', 'Aplicación', 'ID', 'Unnamed: 13'])
df_completo.info()
# Revisamos los tipos de datos
df_completo.dtypes

<class 'pandas.core.frame.DataFrame'>
Index: 578959 entries, 0 to 87565
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Fecha     578959 non-null  object
 1   Fuente    578959 non-null  object
 2   Destino   578959 non-null  int64
 3   Estado    578959 non-null  object
 4   Duración  578959 non-null  object
 5   Minutos   578959 non-null  int64
dtypes: int64(2), object(4)
memory usage: 30.9+ MB

Fecha       object
Fuente      object
Destino      int64
Estado      object
Duración    object
Minutos      int64
dtype: object

In [88]:
# Convertir la columna 'Fecha' al tipo datetime
df_completo['Fecha'] = pd.to_datetime(df_completo['Fecha'])
df_completo.dtypes

Fecha       datetime64[ns]
Fuente              object
Destino              int64
Estado              object
Duración            object
Minutos              int64
dtype: object

In [89]:
# Extraer características de la fecha
df_completo['Hora'] = df_completo['Fecha'].dt.hour
df_completo['Dia_semana'] = df_completo['Fecha'].dt.dayofweek # Lunes=0, Domingo=6
df_completo['Mes'] = df_completo['Fecha'].dt.month  # Junio=6, Julio=7, Agosto=8
df_completo['Dia_mes'] = df_completo['Fecha'].dt.day
df_completo.dtypes
df_completo.head(5)

,Fecha,Fuente,Destino,Estado,Duración,Minutos,Hora,Dia_semana,Mes,Dia_mes
0,2025-06-14 14:44:22,2598,3017225716,NO CONTESTADO,0s,0,14,5,6,14
1,2025-06-14 14:43:52,2598,3243451911,CONTESTADO,2s,1,14,5,6,14
2,2025-06-14 13:49:23,2125,3027014405,CONTESTADO,334s (5m 34s),6,13,5,6,14
3,2025-06-14 13:26:45,2653,6044440007,CONTESTADO,3s,1,13,5,6,14
4,2025-06-14 13:26:22,2653,6045620163,NO CONTESTADO,0s,0,13,5,6,14