## Proyecto final de Analisis de Datos nivel Explorador

In [64]:
#Importamos las librearías necesarias

import pandas as pd
import matplotlib.pyplot as plt

In [65]:
# definir las variables de rutas de los documentos.

path_1_15_junio = 'datos-llamadas/Reporte_1_15_junio.csv'
path_16_30_junio = 'datos-llamadas/Reporte_16_30_junio.csv'
path_1_15_julio = 'datos-llamadas/Reporte_1_15_julio.csv'
path_16_31_julio = 'datos-llamadas/Reporte_16_31_julio.csv'
path_1_15_agosto = 'datos-llamadas/Reporte_1_15_agosto.csv'
path_16_31_agosto = 'datos-llamadas/Reporte_16_31_agosto.csv'

## Proceso para concatenar todos los archivos en un solo DataFrame

In [66]:
# Para esto, primero se leen los archivos csv y se concatenan en un solo dataframe.

df_junio_1 = pd.read_csv(path_1_15_junio, encoding='ISO-8859-1')
df_junio_2 = pd.read_csv(path_16_30_junio, encoding='ISO-8859-1')
df_julio_1 = pd.read_csv(path_1_15_julio, encoding='ISO-8859-1')
df_julio_2 = pd.read_csv(path_16_31_julio, encoding='ISO-8859-1')
df_agosto_1 = pd.read_csv(path_1_15_agosto, encoding='ISO-8859-1')
df_agosto_2 = pd.read_csv(path_16_31_agosto, encoding='ISO-8859-1')

df_completo = pd.concat([df_junio_1, df_junio_2, df_julio_1, df_julio_2, df_agosto_1, df_agosto_2])

# limpiamos memoria
del df_julio_1, df_julio_2, df_agosto_1, df_agosto_2

df_completo.head(5)

/var/folders/yv/992pmwyx2338xp5vbvly54740000gn/T/ipykernel_2530/4031964729.py:7: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df_agosto_1 = pd.read_csv(path_1_15_agosto, encoding='ISO-8859-1')

,Fecha,Fuente,DID,Grupo,Destino,Canal origen,PIN,Canal destino,Estado,Duración,Minutos,Aplicación,ID,Unnamed: 13
0,2025-06-14 14:44:22,2598,3.017226e+09,NaN,3017225716,SIP/2598-00006bca,NaN,SIP/Tk_SIP_ITBX-00006bcb,NO CONTESTADO,0s,0,NaN,---,NaN
1,2025-06-14 14:43:52,2598,3.243452e+09,NaN,3243451911,SIP/2598-00006bc8,NaN,SIP/Tk_SIP_ITBX-00006bc9,CONTESTADO,2s,1,NaN,1749930232.30875,NaN
2,2025-06-14 13:49:23,2125,3.027014e+09,NaN,3027014405,SIP/2125-00006bbf,NaN,SIP/Tk_SIP_ITBX-00006bc0,CONTESTADO,334s (5m 34s),6,NaN,1749926963.30866,NaN
3,2025-06-14 13:26:45,2653,6.044440e+09,NaN,6044440007,SIP/2653-00006bbb,NaN,SIP/Tk_SIP_ITBX-00006bbc,CONTESTADO,3s,1,NaN,1749925605.30862,NaN
4,2025-06-14 13:26:22,2653,6.045620e+09,NaN,6045620163,SIP/2653-00006bb9,NaN,SIP/Tk_SIP_ITBX-00006bba,NO CONTESTADO,0s,0,NaN,---,NaN

In [67]:
# Revisamos la información del DataFrame completo
df_completo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 578959 entries, 0 to 87565
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Fecha          578959 non-null  object
 1   Fuente         578959 non-null  object
 2   DID            578358 non-null  float64
 3   Grupo          0 non-null       float64
 4   Destino        578959 non-null  int64
 5   Canal origen   578959 non-null  object
 6   PIN            0 non-null       float64
 7   Canal destino  578959 non-null  object
 8   Estado         578959 non-null  object
 9   Duración       578959 non-null  object
 10  Minutos        578959 non-null  int64
 11  Aplicación     0 non-null       float64
 12  ID             578959 non-null  object
 13  Unnamed: 13    0 non-null       float64
dtypes: float64(5), int64(2), object(7)
memory usage: 66.3+ MB

In [68]:
df_completo.isnull().sum()

Fecha                 0
Fuente                0
DID                 601
Grupo            578959
Destino               0
Canal origen          0
PIN              578959
Canal destino         0
Estado                0
Duración              0
Minutos               0
Aplicación       578959
ID                    0
Unnamed: 13      578959
dtype: int64

In [69]:
# Guardamos el DataFrame completo en un archivo CSV
df_completo.to_csv('datos-llamadas/Reporte_completo.csv', index=False)

In [70]:
# Cuantos registros duplicados hay?
print(f"Registros duplicados: {df_completo.duplicated().sum()}")


#Eliminar duplicados
df_completo = df_completo.drop_duplicates()
df_completo.info()

Registros duplicados: 0
<class 'pandas.core.frame.DataFrame'>
Index: 578959 entries, 0 to 87565
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Fecha          578959 non-null  object
 1   Fuente         578959 non-null  object
 2   DID            578358 non-null  float64
 3   Grupo          0 non-null       float64
 4   Destino        578959 non-null  int64
 5   Canal origen   578959 non-null  object
 6   PIN            0 non-null       float64
 7   Canal destino  578959 non-null  object
 8   Estado         578959 non-null  object
 9   Duración       578959 non-null  object
 10  Minutos        578959 non-null  int64
 11  Aplicación     0 non-null       float64
 12  ID             578959 non-null  object
 13  Unnamed: 13    0 non-null       float64
dtypes: float64(5), int64(2), object(7)
memory usage: 66.3+ MB

In [71]:
# Eliminar la columna DID, Grupo, Canal Origen, PIN, Canal Destino, Aplicación, ID y Unnamed:13
df_completo = df_completo.drop(columns=['DID', 'Grupo', 'Duración', 'Canal origen', 'PIN', 'Canal destino', 'Aplicación', 'ID', 'Unnamed: 13'])
df_completo.info()
# Revisamos los tipos de datos
df_completo.dtypes

<class 'pandas.core.frame.DataFrame'>
Index: 578959 entries, 0 to 87565
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Fecha    578959 non-null  object
 1   Fuente   578959 non-null  object
 2   Destino  578959 non-null  int64
 3   Estado   578959 non-null  object
 4   Minutos  578959 non-null  int64
dtypes: int64(2), object(3)
memory usage: 26.5+ MB

Fecha      object
Fuente     object
Destino     int64
Estado     object
Minutos     int64
dtype: object

In [72]:
# Convertir la columna 'Fecha' al tipo datetime
df_completo['Fecha'] = pd.to_datetime(df_completo['Fecha'])
df_completo.dtypes

Fecha      datetime64[ns]
Fuente             object
Destino             int64
Estado             object
Minutos             int64
dtype: object

In [73]:
# Extraer características de la fecha
#df_completo['Hora'] = df_completo['Fecha'].dt.hour
#df_completo['Dia_semana'] = df_completo['Fecha'].dt.dayofweek # Lunes=0, Domingo=6
#df_completo['Mes'] = df_completo['Fecha'].dt.month  # Junio=6, Julio=7, Agosto=8
#df_completo['Dia_mes'] = df_completo['Fecha'].dt.day
#df_completo.dtypes
#df_completo.head(5)

In [74]:
#Reporte de llamada por estado de llamada
llamadas_contestadas = df_completo['Estado'].value_counts()
llamadas_contestadas

Estado
NO CONTESTADO    301586
CONTESTADO       265893
OCUPADO            7928
FALLIDO            3552
Name: count, dtype: int64

In [75]:
# calcular total minutos en llamadas contestadas
df_contestadas = df_completo[df_completo['Estado'] == 'CONTESTADO']
time_llamadas_contestadas = df_contestadas['Minutos'].sum()

print(f"Total minutos en llamadas contestadas: {time_llamadas_contestadas}")

Total minutos en llamadas contestadas: 587264

In [76]:
#Cantidad de agentes
estado_llamadas_agente = df_completo['Fuente'].value_counts()
cantidad_agentes = estado_llamadas_agente.count()
print(f"Cantidad de agentes: {cantidad_agentes}")

Cantidad de agentes: 413

In [77]:
# convertimos la columna fecha a datetime
df_completo['Fecha'] = pd.to_datetime(df_completo['Fecha'])
# verificamos el tipo de datos de la columna fecha
df_completo['Fecha'].dtype
# verificamos los datos de la columna fecha
df_completo['Fecha'].head()
# verificamos los datos de la columna fecha
df_completo['Fecha'].tail()

87561   2025-08-16 07:59:20
87562   2025-08-16 07:58:58
87563   2025-08-16 07:58:47
87564   2025-08-16 07:57:12
87565   2025-08-16 07:50:24
Name: Fecha, dtype: datetime64[ns]

In [78]:
# para el analisis de series de tiempo es neecsario ordenar los datos por fecha
df_completo = df_completo.sort_values(by='Fecha')
df_completo.head(3)

                    Fecha Fuente     Destino         Estado  Minutos
86577 2025-06-03 07:01:03   2618  3168170365     CONTESTADO        1
86576 2025-06-03 07:07:35   2615  6027315465  NO CONTESTADO        0
86575 2025-06-03 07:07:51   2615  6027209269  NO CONTESTADO        0

In [79]:
# Para esto agregamos columnas de mes y dia 

# Crea una nueva columna que contenga solo el mes y el año de la fecha
#df_completo['mes_año'] = df_completo['Fecha'].dt.to_period('M')

# Creamos una nueva columna que contenga solo la fecha (día, mes, año)
#df_completo['dia'] = df_completo['Fecha'].dt.date

#df_completo.head(3)

# Extraer características de la fecha
df_completo['Hora'] = df_completo['Fecha'].dt.hour
df_completo['Dia_semana'] = df_completo['Fecha'].dt.dayofweek # Lunes=0, Domingo=6
df_completo['Mes'] = df_completo['Fecha'].dt.month  # Junio=6, Julio=7, Agosto=8
df_completo['Dia_mes'] = df_completo['Fecha'].dt.day
df_completo.dtypes
df_completo.head(5)

,Fecha,Fuente,Destino,Estado,Minutos,Hora,Dia_semana,Mes,Dia_mes
86577,2025-06-03 07:01:03,2618,3168170365,CONTESTADO,1,7,1,6,3
86576,2025-06-03 07:07:35,2615,6027315465,NO CONTESTADO,0,7,1,6,3
86575,2025-06-03 07:07:51,2615,6027209269,NO CONTESTADO,0,7,1,6,3
86574,2025-06-03 07:11:30,2618,3245486955,NO CONTESTADO,0,7,1,6,3
86573,2025-06-03 07:12:37,2618,3016448358,NO CONTESTADO,0,7,1,6,3

In [80]:
# eliminar registro de columna fuente con valor de Unknown
df_completo = df_completo[df_completo['Fuente'] != 'Unknown']

In [81]:
#Actualziar en la columna Fuente los registros con valor anonymous y reemplezarlo por el valor de 0
df_completo['Fuente'] = df_completo['Fuente'].replace('anonymous', '0')
#Cambiar el tipo de dato de la columna Fuente a int
df_completo['Fuente'] = df_completo['Fuente'].astype(int)
df_completo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 578958 entries, 86577 to 0
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Fecha       578958 non-null  datetime64[ns]
 1   Fuente      578958 non-null  int64
 2   Destino     578958 non-null  int64
 3   Estado      578958 non-null  object
 4   Minutos     578958 non-null  int64
 5   Hora        578958 non-null  int32
 6   Dia_semana  578958 non-null  int32
 7   Mes         578958 non-null  int32
 8   Dia_mes     578958 non-null  int32
dtypes: datetime64[ns](1), int32(4), int64(3), object(1)
memory usage: 35.3+ MB

In [82]:
df_completo.to_csv('datos_unidos_procesados.csv', index=False)

In [83]:
# Verificamos si hay valores nulos
df_completo.isnull().sum()

Fecha         0
Fuente        0
Destino       0
Estado        0
Minutos       0
Hora          0
Dia_semana    0
Mes           0
Dia_mes       0
dtype: int64

In [84]:
df_completo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 578958 entries, 86577 to 0
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Fecha       578958 non-null  datetime64[ns]
 1   Fuente      578958 non-null  int64
 2   Destino     578958 non-null  int64
 3   Estado      578958 non-null  object
 4   Minutos     578958 non-null  int64
 5   Hora        578958 non-null  int32
 6   Dia_semana  578958 non-null  int32
 7   Mes         578958 non-null  int32
 8   Dia_mes     578958 non-null  int32
dtypes: datetime64[ns](1), int32(4), int64(3), object(1)
memory usage: 35.3+ MB

In [85]:
# mi variable objetivo es Estado por lo cual re analiza el comportamiento de estas categorias
variable_obt_categorias = df_completo['Estado'].value_counts()
variable_obt_categorias

Estado
NO CONTESTADO    301586
CONTESTADO       265892
OCUPADO            7928
FALLIDO            3552
Name: count, dtype: int64

In [86]:
#Se evidencia que la variable objetivo tiene un comportamiento desbalanceado, por lo cual se debe tener en cuenta en el modelo de machine learning.
# shape devolverá una tupla que indica (número de filas, número de columnas).
variable_obt_categorias.shape

(4,)